.autorizeFormStyle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.autorizeFormStyle input {
  border: 1px solid black;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}
.autorizeFormStyle input:first-child {
  margin: 5px 0;
}
.autorizeFormStyle button {
  display: flex;
  margin: 10px auto 0;
  border-radius: 18px;
  border: 1px solid black;
  transition: 0.2s linear;
  font-size: 20px;
  padding: 10px 30px;
}

.autorizeFormStyle button:hover {
  background-color: rgb(140, 121, 211);
  cursor: pointer;
}
